/* Font */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');
/* Global Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainFont: 'Recursive', sans-serif;
  --secondaryFont: 'Roboto', sans-serif;
  /* Darker Colors*/
  --Dark1: #0d0a0b;
  --Dark2: #454955;
  /* Primary Color */
  --PrimaryDark: #b37ba4;
  --PrimaryColor: #d99ac5;
  --PrimaryLight: #dccde8;
  /* Off Colors */
  --OffWhite: #f3eff5;
  /* Cta  Colors*/
  --Cta1: #14bdeb;
  --Cta2: #00100b;
  /* Others */
  --mainTransition: all 0.35s linear;
}
body {
  font-family: 'Roboto';
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* End Global Variables */
/* Nav */
nav ul {
  border-top: 0.5rem solid var(--PrimaryLight);
  background: var(--PrimaryDark);
  transition: var(--mainTransition);
}
nav ul li a {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  color: var(--PrimaryLight);
  transition: var(--mainTransition);
}
nav ul li a:hover {
  color: var(--Cta1);
}
.logo {
  /*Parent de: texto y icon*/
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 2.5rem;
  background: var(--PrimaryLight);
  color: var(--Dark2);
  font-style: italic;
}
.logo:hover {
  background: var(--Cta1);
  color: var(--OffWhite);
}
@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap; /*A medida que crece se van bajando a otra linea*/
    align-items: baseline; /*hay una linea imaginaria que pasa por todos los items, entonces estaran entrados a dicha linea*/
    justify-content: space-between;
  }
  nav ul li {
    flex: 1 0 auto; /*Grow, Shrink, mantiene su size*/
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo .fa {
    display: none;
  }
}
/* End Nav */
/* Banner */
#banner {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-banner.jpg) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  font-size: 2.25rem;
  color: var(--PrimaryColor);
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}
.banner-underline {
  width: 250px;
  border: 3px solid var(--PrimaryLight);
  border-radius: 5px;
  margin: 0.5rem auto 1rem auto;
}
.banner-btn {
  display: flex;
  justify-content: space-between;
}
.banner-btn button {
  font-size: 1.75rem;
  padding: 0.1rem 0.2rem;
  text-transform: uppercase;
  margin: 0 5px;
  background: transparent;
  border: 3px solid var(--Cta1);
  color: var(--Cta1);
  transition: var(--mainTransition);
}
.banner-btn button:hover {
  background: var(--Cta1);
  color: var(--Cta2);
}
/* End Banner */
/* Skills Section */
#skills {
  padding: 5rem 0;
  background: var(--PrimaryLight);
}
.skills-container {
  max-width: 95vw;
  margin: 0 auto; /*Centramos todo*/
}
.skills-item {
  /* border: 1px solid red; */
  text-align: center;
  margin: 1.5rem 0;
}
.skills-item .fa {
  font-size: 3rem;
  color: var(--Dark1);
  letter-spacing: 1px;
}
.skills-item h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 1.75rem 0;
  color: var(--PrimaryDark);
  text-transform: uppercase;
}
.skills-item p {
  width: 75%;
  margin: 0 auto;
  color: var(--Dark2);
}
@media screen and (min-width: 576px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* End Skills Section */
/* Services Section */
/* Title Global */
.title {
  margin: 2.25 0;
}
.title-text {
  text-align: center;
  font-size: 2.25rem;
  color: var(--PrimaryDark);
  font-style: italic;
  text-transform: uppercase;
}
.title-underline {
  width: 8rem;
  border: 3px solid var(--Cta1);
  margin: 0 auto 2rem auto;
  border-radius: 1rem;
}
/* End Title Global */
#services {
  min-height: 100vh;
  background: url(./images/services.jpeg) center/cover no-repeat fixed;
  padding: 1.25rem 0 8rem 0;
}
.services-container {
  max-width: 90vw;
  margin: 0 auto;
  color: var(--OffWhite);
}
.service-item {
  overflow: hidden;
  position: relative;
  padding: 4rem;
}
.service-item .fa {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--PrimaryColor);
}
.service-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.service-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.4),
    rgba(206, 208, 206, 0.4)
  );
  color: var(--Dark1);
}
.front-text {
  text-align: center;
  transition: all 1s linear;
  font-weight: bold;
  font-size: 1.5rem;
}
.back-text {
  position: absolute;
  bottom: -15rem;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  transition: bottom 1.7s;
  padding: 2rem 0;
}
.back-text h1 {
  margin-bottom: 1.25rem;
}
.back-text p {
  font-weight: 450;
  font-size: 1.5rem;
}
.back-text button {
  margin-top: 1.25rem;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--Cta1);
  font-size: 1.25rem;
  color: var(--Cta1);
  transition: var(--mainTransition);
}
.back-text button:hover {
  background: var(--PrimaryColor);
  color: var(--OffWhite);
  border: 3px solid var(--OffWhite);
}
.service-item-white button {
  background: var(--Cta1);
  color: var(--Cta2);
  border: 3px solid var(--Cta2);
  transition: var(--mainTransition);
}
.service-item-white button:hover {
  background: var(--Dark1);
  color: var(--Cta1);
  border: 3px solid var(--Cta1);
}
.service-item:hover .front-text {
  transform: translateY(-200%);
}
.service-item:hover .back-text {
  bottom: 0;
}
@media screen and (min-width: 776px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-container .service-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 3;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 2;
  }
}
/* End Services Section */

/* Projects Section */
#projects .title-text {
  color: var(--Dark1);
}
#projects {
  padding: 1.25rem 0;
  background: var(--PrimaryLight);
}
.projects-container {
  max-width: 90vw;
  margin: 0 auto;
}
.projects-item {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: var(--PrimaryColor);
  overflow: hidden;
  margin: 1.5rem 0;
  border-radius: 25px;
}
#projects img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  transition: var(--mainTransition);
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* Haremos que cunado hover, aparezca texto */
  opacity: 0;
  transition: var(--mainTransition);
}
.img-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
  color: var(--PrimaryDark);
  font-weight: bold;
  opacity: 0;
  transform-origin: var(--mainTransition);
}
.img-text h1 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.img-text h6 {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.projects-item:hover img {
  opacity: 0.25;
  transform: scale(1.3);
}
.projects-item:hover .img-text,
.projects-item:hover .img-footer {
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
/* Projects Section */
/* Filler Section */
#filler {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/filler.jpeg) center/cover no-repeat fixed;
  padding: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}
#filler h1 {
  color: var(--PrimaryLight);
  letter-spacing: 3px;
  text-transform: uppercase;
}
#filler button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid var(--Cta1);
  color: var(--Cta1);
  transition: var(--mainTransition);
  text-transform: uppercase;
  margin-top: 1rem;
}
#filler button:hover {
  color: var(--PrimaryDark);
  border: 2px solid var(--PrimaryDark);
}
/* End Filler Section */
/* Posts Section */
#post {
  background: var(--PrimaryLight);
  padding: 2rem 0;
}
.post-container {
  max-width: 90vw;
  margin: 0 auto;
}
#post .title {
  margin-top: 2rem;
}
.post-item {
  background: var(--OffWhite);
  color: var(--Dark1);
  margin: 2rem 0;
  border-radius: 6px;
  text-align: center;
}
#post img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: block;
}
.post-img-container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, 8));
  transition: var(--mainTransition);
}
.post-img-container .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 3rem;
  color: var(--Cta1);
  transition: var(--mainTransition);
}
.post-img-container:hover img {
  opacity: 0.4;
}
.post-img-container:hover .fa {
  opacity: 1;
}
.post-info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.post-info h6 {
  margin: 0.5rem 0 1rem 0;
  max-width: 20rem;
  font-weight: bold;
}
.post-info a {
  font-size: 1.5rem;
  border: 2px solid var(--Cta1);
  max-width: 50%;
  justify-self: center;
  color: var(--Cta1);
  padding: 0 1rem;
  margin-bottom: 1rem;
  transition: var(--mainTransition);
  font-weight: bolder;
}
.post-info a:hover {
  background: var(--Cta1);
  color: var(--Cta2);
  font-weight: bolder;
}
@media screen and (min-width: 576px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .post-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* End Posts Section */

/* Footer Section */
footer {
  background: var(--Dark2);
  text-align: center;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer-text {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--PrimaryDark);
  margin-bottom: 1rem;
}
.footer-icons {
  font-size: 2rem;
}
.footer-icons .fa {
  margin-right: 0.5rem;
  color: var(--PrimaryDark);
  transition: var(--mainTransition);
}
.footer-icons .fa:hover {
  color: var(--PrimaryLight);
  transform: translateY(-5px);
}
/* End Footer Section */
